<footer  style="position: absolute;">
        <div class="footer_div">
            <section claa="footer_link">
                <!-- Google -->
                <a href="https://www.google.com/">
                    <img src="images/icons8-google-48.png" alt="Google" width="3%" height="3%" style="margin: 3px;">
                </a>
                <!-- Instagram -->
                <a href="#">
                    <img src="images/icons8-instagram-48.png" alt="Instagram" width="3%" height="3%" style="margin: 3px;">
                </a>
                <!-- Linkedin -->
                <a href="http://www.linkedin.com/in/shivam-gupta-162075260">
                    <img src="images/icons8-linkedin-circled.gif" alt="Linkedin"width="3%" height="3%" style="margin: 3px;">
                </a>
                <!-- Github -->
                <a href="https://github.com/Shivam20214082/MNNIT-CSE-Code">
                    <img src="images/icons8-github-50.png" alt="Github" width="3%" height="3%" style="margin: 3px;">
                </a>
            </section>
        </div>
        <div class="Copyright">© 2023 Copyright:
            <a class="text-white" href="#">ApnaKart.com</a>
        </div>
    </footer>