<nav>
    <div class="topnav">
      <li class="brand"><img src="images/logo1.png" style="width: 64px; alt=""><a href="/">ApnaKart</a> </li>
      <li> <a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Search item" onkeyup="search()">
        <div id="search-results" style="background-color: aliceblue;"></div>
      </div>
      <!-- <input type="text" id="search" placeholder="Search item" onkeyup="search()"> -->
      {{!-- <button class="w3-btn w3-round-xlarge "style="cursor: pointer;">search</button> --}}
      <img src="images/search.jpg" alt="" style="height: 31px;width: 35px;margin-top: 7px; cursor: pointer;"  onclick="window.location.href='';">
      <li class="cart"><img  onclick="window.location.href='/cart';" src="images/cart.png" style="cursor: pointer;"><a style="margin-top: 5px;" href="/404">Sell</a></li>
      <input class="login" onmouseover="" onclick="redirectToNewPage()" type="button" value="Login">
    </div>
  </nav>