<nav>
  <div class="topnav">
    <li class="brand"><img
        src="images/logo.png"
        style="width: 84px; cursor:pointer"
        alt=""
      /><a href=" /">ğ”¸ğ•¡ğ•Ÿğ•’ğ•‚ğ•’ğ•£ğ•¥</a>
    </li>
    <li> <a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <div class="search-container">
      <input
        type="text"
        id="search-input"
        placeholder="Search item"
        onkeyup="search()"
      />
      <div
        id="search-results"
        style="background-color: rgb(191, 235, 237);"
      ></div>
    </div>
    <img
      src="images/search.jpg"
      alt=""
      style="height: 31px;width: 35px;margin-top: 7px; cursor: pointer;"
      onclick="window.location.href='';"
    />
    <li class="cart"><img
        onclick="window.location.href='/cart';"
        src="images/cart.png"
        style="cursor: pointer;"
      /><a style="margin-top: 5px;" href="/404">Sell</a></li>
    {{#if loggedIn}}
      <input
        class="logout"
        id="login-btn"
        onclick="logout()"
        type="button"
        value="Logout"
      />
    {{else}}
      <input
        class="login"
        id="login-btn"
        onclick="redirectToNewPage()"
        type="button"
        value="Login"
      />
    {{/if}}

  </div>
</nav>